@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;  
}

h1 {
  font-size: 46px;
  line-height: normal;
  font-weight: 600;
}
h2{
  font-size: 30px;
  line-height: normal;
  font-weight: 600;
}
h3{
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
}
h4 {
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 42px;
    padding-right: 42px;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  margin-left: auto;
  margin-right: auto;
}

// scrollbar

:root {
  --black: #1F1F1F;
  --blue: #00053E;
  --red: #681211;
  --grey: #828282;
  --white: #F5F5F5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
