.left {
  padding: 169px 42px 53px 30px;
  background: var(--white);
  width: 692px;

  h1 {
    color: var(--red);
    max-width: 606px;
  }

  h2 {
    max-width: 470px;
  }
  
  .btn {
    padding: 17px 62px 17px 61px;
    background: var(--blue);
    color: #fff;
    font-weight: 500;
    line-height: normal;
  }
}

.hero__mobile {
  display: none;
}

@media (max-width: 768px) {
  .container {
    
  }
  .right {
    display: none;
  }

  .left {
    display: none;
  }

  .hero__mobile {
    display: block;
    border-radius: 0px;
    padding: 24px 20px 44px 20px;
    background: url('/right2.png') no-repeat;
    margin-bottom: 44px;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h1 {
      color: #fff;
    }

    h2 {
      color: #fff;
      margin-bottom: 35px;
    }
  }

  .btn {
    width: 80%;
    background: var(--blue);
    color: #fff;
    font-weight: 500;
    line-height: normal;
  }
}