.charlist {
  border-bottom: 1px solid var(--grey);
  justify-content: space-between;

  h3 {
    color: var(--grey);
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }

  &:last-child {
    border-bottom: none;
  }
}

@media (max-width: 768px) {
  .charlist {

    h3 {
      font-size: 10px;
    }

    h2 {
      font-size: 10px;
    }
  }
}