.charlist {
  border-bottom: 1px solid var(--grey);
  justify-content: space-between;

  h3 {
    color: var(--grey);
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }

  &:last-child {
    border-bottom: none;
  }
}