.header {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 21px 121px 21px 120px;
  justify-content: space-between;

  .logo {
    color: #1A293A;
    font-size: 21.524px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .location {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 26px 20px 24px 20px;
  }

  .location {
    display: none;
  }

  .logo {
    font-size: 14.459px;
    white-space: nowrap;

    svg {
      width: 25.038px;
      height: 37.002px;  
    } 
  }

  .header {
    justify-content: space-between;
  }
}