.footer__left {
  background: var(--blue);

  h2 {
    color: #fff;
    font-size: 21.532px;
  }

  svg {
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }

  h4 {
    color: #fff;
    font-weight: 300;
    max-width: 223px;
    white-space: nowrap;
  }
}

.footer__right {
  background: #F5F5F5;

  .right__text {
    color: var(--black);
    font-weight: 600;
  }
}

.mobile {
  display: none;
}

@media (max-width: 1140px) {
  .footer__left {
    display: none;
  }
  .footer__right {
    display: none;
  }

  .mobile {
    display: block;

    &__footer {
      background: var(--blue);
      color: #fff;
      flex-direction: column;
    }

    &__footer__logo {
      font-size: 21.532px;
      font-weight: 700;
      color: white;

      svg {
        margin-right: 4px;
      }
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }
}