.product__grid {
  grid-template-columns: repeat(4, 200px);
  // 1fr
}

.product__item {
  transition: all 0.5s ease;
  border: 1px solid #000;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 90%;

  &:nth-child(4) {
    margin-right: 0px;
  }
  &:nth-child(8) {
    margin-right: 0px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    animation: text-out 0.5s both;
  }

  svg {
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  &:hover {
    background: var(--blue);

    h3 {
      color: #fff;
    }
    h4{
      display: block;
      color: #fff;
      transition: all 0.5s ease;
      animation: text-blur-out 0.5s both;
    }
    svg{
      animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      path{
        fill: #fff;
      }
    }

    .product__item__image {
      background: #fff;
    }
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes text-go {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(0) opacity(100%);
            filter: blur(0) opacity(100%);
  }
}
@keyframes text-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(20px) opacity(10%);
            filter: blur(20px) opacity(10%);
  }
}

@media (max-width: 768px) {
  .product__grid {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
    grid-column: 15px;
  }

  .product__item {
    width: 160.25px;
    margin-right: 0;
    margin-right: 15px;

    &:nth-child(2) {
      margin-right: 0px;
    }
    &:nth-child(4) {
      margin-right: 0px;
    }
    &:nth-child(6) {
      margin-right: 0px;
    }
    &:nth-child(8) {
      margin-right: 0px;
    }
  }
}