.quest {
  background: #F5F5F5;
  justify-content: space-between;

  &__left {

    h2 {
      color: var(--blue);
    }

    h4 {
      color: #828282;
      max-width: 258px;
    }
  }

  &__right {

    h4 {
      max-width: 488px;
      color: var(--grey);
    }
  }
}

@media (max-width: 1140px) {
  .quest {
    flex-direction: column;
    padding: 66px 20px 29px 20px;

    &__left {
      text-align: start;
      
      h4 {
        width: 210px;
        margin-bottom: 29px;
      }
    }
  }
}