.card {
  background: #EAE9F1;
  margin-right: 10px;
  padding: 0;

  &:first-child {
    padding: 25px 54px;
  }

  &:nth-child(2) {
    padding: 17px 42px;
  }

  &:last-child {
    padding: 30px 12px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .company__flex {
    flex-direction: column;
  } 

  .card {
    background: #EAE9F1;
    margin-right: 10px;
    padding: 0;

  &:first-child {
    width: 53%;
    margin-bottom: 10px;
  }

  &:nth-child(2) {
    width: 53%;
    margin-bottom: 10px;
  }

  &:last-child {
    width: 53%;
    margin-right: 24px;
  }
  }
}
