.catalog__grid {
  grid-template-columns: repeat(3, 1fr);
}

.catalog__item {
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 305px;
  transition: all 0.5s ease;
  background: var(--white);
  cursor: pointer;

  &:hover {
    background: var(--blue);

    h3 {
      color: #fff;
    }
    svg {
      fill: #fff;
      path {
        stroke: #fff;
      }

      &:first-child {
        fill: transparent;
        path{
          stroke: white;
        }
      }
      &:nth-child(7) {
        fill: none;
        path {
          stroke: #fff;
        }  
      }
    }
    
  }

  &:nth-child(3) {
    margin-right: 0;
  }
  &:nth-child(6) {
    margin-right: 0;
  }
}

.poly {
  svg {
    fill: white;
    path {
      stroke: #828282;
    }
  }
}

@media (max-width: 768px) {
  .catalog__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .catalog__item {
    margin-bottom: 20px;
    margin-right: 0;
  }
}