.input__inner {
  padding: 16px 0 16px 20px;
  border:  1px solid var(--grey);
  width: 100%;
  background: transparent;

  input {
    width: 90%;
  }
}

.form__btn {
  background: var(--blue);
  color: #fff;
  transition: all 0.3s ease;

  &:disabled {
    opacity: 0.8;
  }
}

@media (max-width: 1140px) {
  .form__btn {
    width: 100%;
  }
}

.errors {
  position: relative;
  top: -1rem;
  margin-left: 2px;
  color: #f05252;
}