.input__inner {
  padding: 16px 0 16px 20px;
  border:  1px solid var(--grey);
  max-width: 488px;
  background: transparent;

  input {
    width: 90%;
  }
}

.form__btn {
  background: var(--blue);
  color: #fff;
}

@media (max-width: 768px) {
  .form__btn {
    width: 100%;
  }
}